body {font-family: Roboto, Arial, sans serif; 
	 color: #6E7783;
}

h1 {
	font-family: Domine;  
	color: #77AAAD; 
}
h4 {
	font-family: Domine;
	color; #77AAAD;
}

img { 
}

#navigation {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.nav-link {
	display: block;
	width: 33.33%;
	float: left;
}

#homepage_image {
	display: block; 
	width: 100%;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}

ul {
	list-style: none;
}

.section {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	max-width:800px;
	margin: 0 auto;
}
